---
import BaseLayout from '../layouts/BaseLayout.astro';

let title = 'About';
let description = 'About';
let permalink = 'https://example.com/about';
---
<BaseLayout title={title} description={description} permalink={permalink} canonicalURL={Astro.request.canonicalURL.href}>
    <p>Sēlekkt. presents</p>
    <h1>Skelet.3</h1>
    <h3>Skelet. is a contemporary CSS framework which gives you the foundations to start building your next project right away.</h3>
    <p>Skelet. provides a simple, minimal yet solid starting point for websites.<br>
    Get started quickly with the HTML5 template, or just include skelet.css in your own project.</p>
    <a href="https://selekkt.dk/skelet/v3" class="button is-outline">Get started with Skelet.css</a>
</BaseLayout>