<footer>
	<!-- Remove this -->
	<center>
		<ul class="inline">
			<li><a href="https://selekkt.dk/" class="button">Sēlekkt.</a></li>
            <li><a href="https://selekkt.dk/skelet/v3/" class="button is-blank">Documentation</a></li>
            <li><a href="https://selekkt.dk/git/wp-skelet" class="button is-blank">wp-Skelet</a></li>
            <li><a href="https://selekkt.dk/git/grav-skelet" class="button is-blank">grav-Skelet</a></li>
            <li><a href="https://selekkt.dk/git/astro-skelet" class="button is-blank">astro-Skelet</a></li>
		</ul>
		<p>&nbsp;</p>
	</center>
	<!-- / -->
</footer>