<header>
<x-grid columns="fit" ai="center">
	<x-cell>
		<div class="logo">
			<h1><a href="/">Skelet.<sup>3</sup></a></h1>
		</div>
	</x-cell>

	<x-cell>
	<nav>
		<ul class="inline">
			<li><a href="/" class="button is-blank">Home</a></li>
			<li><a href="/blog" class="button is-blank">Blog</a></li>
			<li><a href="/about" class="button is-blank">About</a></li>
		</ul>
	</nav>
	</x-cell>
</x-grid>
</header>